<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ValoTalk{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.scss') }}">
</head>
<body>

<nav>
    <ul>
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="{{ path('article_list') }}">Articles</a></li>

        {% if app.user %}
            <li><a href="{{ path('user_profile', { id: app.user.id }) }}">Mon Profil</a></li>
            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('registration') }}">S'inscrire</a></li>
            <li><a href="{{ path('login') }}">Se connecter</a></li>
        {% endif %}
    </ul>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>

</body>
</html>
