{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <h1>Créer un nouvel article</h1>

        {{ form_start(form, {'attr': {'class': 'article-form'}}) }}

        {% for field in form.children %}
            {% if field.vars.name != '_token' %} {# Ne pas afficher le champ CSRF #}
                <div class="form-group">
                    {{ form_label(field) }}
                    {% if field.vars.required %}
                        <span class="required">*</span>
                    {% endif %}
                    {{ form_widget(field) }}
                    {{ form_errors(field) }}
                </div>
            {% endif %}
        {% endfor %}

        <button class="btn">Publier</button>
        {{ form_end(form) }}
    </main>
{% endblock %}
