{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    <div class="change-password-page">
        <h1>Modifier le mot de passe</h1>

        {# Affichage des messages flash #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.currentPassword) }}
        </div>
        <div class="form-group">
            {{ form_row(form.plainPassword) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'btn-submit change-password-btn'}}) }}
        </div>
        {{ form_end(form) }}

        <a href="{{ path('user_profile', {id: app.user.id}) }}" class="back-to-profile">Retour à mon profil</a>
    </div>
{% endblock %}