{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
    <h1>Changer le mot de passe</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.plainPassword) }}
        {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.plainPassword) }}
    </div>

    {{ form_end(form) }}

    <a href="{{ path('user_profile', {id: app.user.id}) }}">Retour à mon profil</a>
{% endblock %}
