{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
    <h1>Changer le mot de passe</h1>

    {# Affichage des messages flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
