{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="profile-edit-page">
        <h1>Modifier mon profil</h1>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.username) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.username) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
            {{ form_label(form.birthdate) }}
            {{ form_widget(form.birthdate, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.birthdate) }}
        </div>

        <div class="form-submit">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>

        <a class="back-link" href="{{ path('user_profile', {id: app.user.id}) }}">Retour à mon profil</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
